.wrapper {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #2196f3;
  font-weight: 700;
  font-size: 24px;
}

.info {
  display: flex;
  padding-right: 20px;
  flex-direction: column;
}

.items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  color: #a0b0b9;
  font-weight: 500;
}
